.callout
  %h3
    Install GitLab in 2 minutes
  %h4
    With Ubuntu, Debian, CentOS, openSUSE, and Raspbian packages or from source
  %a.btn.btn-lg.btn-red{ href: "/installation/" } Install GitLab Now
